# run dirs ws-out

In [1]:
! for i in `cat ../Orchestration/junk` ; do echo $i; aws s3 ls ws-out/CONUS/$i ;echo '---------------' ; done

Run02_17_2022/
                           PRE r50t7/
---------------
Run02_24_2022/
                           PRE conus_r50t6/
---------------
Run02_25_2022/
                           PRE conus_r50t5/
                           PRE conus_r50t8/
---------------
Run03_01_2022/
                           PRE conus_r37t0/
---------------
Run03_03_2022/
                           PRE conus_r37t1/
                           PRE conus_r37t2/
---------------
Run03_07_2022/
                           PRE conus_r37t3/
---------------
Run03_11_2022/
                           PRE conus_r50t9/
---------------

# output dirs

In [2]:
! aws s3 ls ws-enduser/CONUS/

                           PRE r37.0_tile0/
                           PRE r37.0_tile1/
                           PRE r37.0_tile2/
                           PRE r37.0_tile3/
                           PRE r50.0_tile5/
                           PRE r50.0_tile6/
                           PRE r50.0_tile7/
                           PRE r50.0_tile8/
                           PRE r50.0_tile9/

In [3]:
import boto3

In [4]:
def s3_bucket_analyze(bucket, prefix):

    objs = []

    print("bucket", bucket)
    print("prefix", prefix)

    bucket_name = bucket
    prefix = prefix

    s3 = boto3.resource('s3')
    bucket = s3.Bucket(bucket_name)
    cnt=0
    storage_class_h = {'STANDARD' : 0,
                   'GLACIER' : 0,
                   'INTELLIGENT_TIERING' : 0,
                  }
    sum_class_h = {'STANDARD' : 0,
                   'GLACIER' : 0,
                   'INTELLIGENT_TIERING' : 0,
                  }
    sum = 0
    for obj in bucket.objects.filter(Prefix=prefix):
        storage_class_h[obj.storage_class] = storage_class_h[obj.storage_class] + 1
        cnt = cnt + 1
        if not cnt%1000:
            print(bucket, "bucket object count = ", cnt, flush=True)
        sum = sum + obj.size
        sum_class_h[obj.storage_class] = sum_class_h[obj.storage_class] + obj.size
        my_obj = {
                'bucket_name':obj.bucket_name,
                'key':obj.key,
                'size':obj.size,
                'class':obj.storage_class
                }
        objs.append(my_obj)

    print ("COUNT=", cnt)
    for ky in storage_class_h.keys():
        print(ky, storage_class_h[ky])
        sum = sum_class_h[ky]
        print(ky, sum_class_h[ky])
        gig = sum/(1024*1024*1024)
        print (ky, "GBYTES=", gig)
        if ky == 'GLACIER': 
            cost=.007
        else: 
            cost=.023
        print (ky, "Cost/Month=", gig * cost)
        print ("----" * 25)
    print("END LOOP")
    my_key = 'STANDARD'
    ret_gbytes = sum_class_h[my_key]/(1024*1024*1024)
    if (ret_gbytes < 1):
        ret_gbytes = 1
    ret_costs = .023 * ret_gbytes
    print('G:', ret_gbytes, ret_costs)
    return objs

In [5]:
bucket='ws-enduser'
my_prefix='CONUS/'

In [6]:
objs = s3_bucket_analyze(bucket, my_prefix)

bucket ws-enduser
prefix CONUS/
s3.Bucket(name='ws-enduser') bucket object count =  1000
s3.Bucket(name='ws-enduser') bucket object count =  2000
s3.Bucket(name='ws-enduser') bucket object count =  3000
s3.Bucket(name='ws-enduser') bucket object count =  4000
s3.Bucket(name='ws-enduser') bucket object count =  5000
s3.Bucket(name='ws-enduser') bucket object count =  6000
s3.Bucket(name='ws-enduser') bucket object count =  7000
s3.Bucket(name='ws-enduser') bucket object count =  8000
s3.Bucket(name='ws-enduser') bucket object count =  9000
s3.Bucket(name='ws-enduser') bucket object count =  10000
s3.Bucket(name='ws-enduser') bucket object count =  11000
s3.Bucket(name='ws-enduser') bucket object count =  12000
s3.Bucket(name='ws-enduser') bucket object count =  13000
s3.Bucket(name='ws-enduser') bucket object count =  14000
s3.Bucket(name='ws-enduser') bucket object count =  15000
s3.Bucket(name='ws-enduser') bucket object count =  16000
s3.Bucket(name='ws-enduser') bucket object count =  17000
s3.Bucket(name='ws-enduser') bucket object count =  18000
s3.Bucket(name='ws-enduser') bucket object count =  19000
s3.Bucket(name='ws-enduser') bucket object count =  20000
s3.Bucket(name='ws-enduser') bucket object count =  21000
s3.Bucket(name='ws-enduser') bucket object count =  22000
s3.Bucket(name='ws-enduser') bucket object count =  23000
s3.Bucket(name='ws-enduser') bucket object count =  24000
s3.Bucket(name='ws-enduser') bucket object count =  25000
s3.Bucket(name='ws-enduser') bucket object count =  26000
s3.Bucket(name='ws-enduser') bucket object count =  27000
s3.Bucket(name='ws-enduser') bucket object count =  28000
s3.Bucket(name='ws-enduser') bucket object count =  29000
s3.Bucket(name='ws-enduser') bucket object count =  30000
s3.Bucket(name='ws-enduser') bucket object count =  31000
s3.Bucket(name='ws-enduser') bucket object count =  32000
s3.Bucket(name='ws-enduser') bucket object count =  33000
s3.Bucket(name='ws-enduser') bucket object count =  34000
s3.Bucket(name='ws-enduser') bucket object count =  35000
s3.Bucket(name='ws-enduser') bucket object count =  36000
s3.Bucket(name='ws-enduser') bucket object count =  37000
s3.Bucket(name='ws-enduser') bucket object count =  38000
s3.Bucket(name='ws-enduser') bucket object count =  39000
s3.Bucket(name='ws-enduser') bucket object count =  40000
s3.Bucket(name='ws-enduser') bucket object count =  41000
s3.Bucket(name='ws-enduser') bucket object count =  42000
s3.Bucket(name='ws-enduser') bucket object count =  43000
s3.Bucket(name='ws-enduser') bucket object count =  44000
s3.Bucket(name='ws-enduser') bucket object count =  45000
s3.Bucket(name='ws-enduser') bucket object count =  46000
s3.Bucket(name='ws-enduser') bucket object count =  47000
s3.Bucket(name='ws-enduser') bucket object count =  48000
s3.Bucket(name='ws-enduser') bucket object count =  49000
s3.Bucket(name='ws-enduser') bucket object count =  50000
s3.Bucket(name='ws-enduser') bucket object count =  51000
s3.Bucket(name='ws-enduser') bucket object count =  52000
s3.Bucket(name='ws-enduser') bucket object count =  53000
s3.Bucket(name='ws-enduser') bucket object count =  54000
s3.Bucket(name='ws-enduser') bucket object count =  55000
s3.Bucket(name='ws-enduser') bucket object count =  56000
s3.Bucket(name='ws-enduser') bucket object count =  57000
s3.Bucket(name='ws-enduser') bucket object count =  58000
s3.Bucket(name='ws-enduser') bucket object count =  59000
s3.Bucket(name='ws-enduser') bucket object count =  60000
s3.Bucket(name='ws-enduser') bucket object count =  61000
s3.Bucket(name='ws-enduser') bucket object count =  62000
s3.Bucket(name='ws-enduser') bucket object count =  63000
s3.Bucket(name='ws-enduser') bucket object count =  64000
s3.Bucket(name='ws-enduser') bucket object count =  65000
s3.Bucket(name='ws-enduser') bucket object count =  66000
s3.Bucket(name='ws-enduser') bucket object count =  67000
s3.Bucket(name='ws-enduser') bucket object count =  68000
s3.Bucket(name='ws-enduser') bucket object count =  69000
s3.Bucket(name='ws-enduser') bucket object count =  70000
s3.Bucket(name='ws-enduser') bucket object count =  71000
s3.Bucket(name='ws-enduser') bucket object count =  72000
s3.Bucket(name='ws-enduser') bucket object count =  73000
s3.Bucket(name='ws-enduser') bucket object count =  74000
s3.Bucket(name='ws-enduser') bucket object count =  75000
s3.Bucket(name='ws-enduser') bucket object count =  76000
s3.Bucket(name='ws-enduser') bucket object count =  77000
s3.Bucket(name='ws-enduser') bucket object count =  78000
s3.Bucket(name='ws-enduser') bucket object count =  79000
s3.Bucket(name='ws-enduser') bucket object count =  80000
s3.Bucket(name='ws-enduser') bucket object count =  81000
s3.Bucket(name='ws-enduser') bucket object count =  82000
s3.Bucket(name='ws-enduser') bucket object count =  83000
s3.Bucket(name='ws-enduser') bucket object count =  84000
s3.Bucket(name='ws-enduser') bucket object count =  85000
s3.Bucket(name='ws-enduser') bucket object count =  86000
s3.Bucket(name='ws-enduser') bucket object count =  87000
s3.Bucket(name='ws-enduser') bucket object count =  88000
s3.Bucket(name='ws-enduser') bucket object count =  89000
s3.Bucket(name='ws-enduser') bucket object count =  90000
s3.Bucket(name='ws-enduser') bucket object count =  91000
s3.Bucket(name='ws-enduser') bucket object count =  92000
s3.Bucket(name='ws-enduser') bucket object count =  93000
s3.Bucket(name='ws-enduser') bucket object count =  94000
s3.Bucket(name='ws-enduser') bucket object count =  95000
s3.Bucket(name='ws-enduser') bucket object count =  96000
s3.Bucket(name='ws-enduser') bucket object count =  97000
s3.Bucket(name='ws-enduser') bucket object count =  98000
s3.Bucket(name='ws-enduser') bucket object count =  99000
s3.Bucket(name='ws-enduser') bucket object count =  100000
s3.Bucket(name='ws-enduser') bucket object count =  101000
s3.Bucket(name='ws-enduser') bucket object count =  102000
s3.Bucket(name='ws-enduser') bucket object count =  103000
s3.Bucket(name='ws-enduser') bucket object count =  104000
s3.Bucket(name='ws-enduser') bucket object count =  105000
s3.Bucket(name='ws-enduser') bucket object count =  106000
s3.Bucket(name='ws-enduser') bucket object count =  107000
s3.Bucket(name='ws-enduser') bucket object count =  108000
s3.Bucket(name='ws-enduser') bucket object count =  109000
s3.Bucket(name='ws-enduser') bucket object count =  110000
s3.Bucket(name='ws-enduser') bucket object count =  111000
s3.Bucket(name='ws-enduser') bucket object count =  112000
s3.Bucket(name='ws-enduser') bucket object count =  113000
s3.Bucket(name='ws-enduser') bucket object count =  114000
s3.Bucket(name='ws-enduser') bucket object count =  115000
s3.Bucket(name='ws-enduser') bucket object count =  116000
s3.Bucket(name='ws-enduser') bucket object count =  117000
s3.Bucket(name='ws-enduser') bucket object count =  118000
s3.Bucket(name='ws-enduser') bucket object count =  119000
s3.Bucket(name='ws-enduser') bucket object count =  120000
s3.Bucket(name='ws-enduser') bucket object count =  121000
s3.Bucket(name='ws-enduser') bucket object count =  122000
s3.Bucket(name='ws-enduser') bucket object count =  123000
s3.Bucket(name='ws-enduser') bucket object count =  124000
s3.Bucket(name='ws-enduser') bucket object count =  125000
s3.Bucket(name='ws-enduser') bucket object count =  126000
s3.Bucket(name='ws-enduser') bucket object count =  127000
s3.Bucket(name='ws-enduser') bucket object count =  128000
s3.Bucket(name='ws-enduser') bucket object count =  129000
s3.Bucket(name='ws-enduser') bucket object count =  130000
s3.Bucket(name='ws-enduser') bucket object count =  131000
s3.Bucket(name='ws-enduser') bucket object count =  132000
s3.Bucket(name='ws-enduser') bucket object count =  133000
s3.Bucket(name='ws-enduser') bucket object count =  134000
s3.Bucket(name='ws-enduser') bucket object count =  135000
s3.Bucket(name='ws-enduser') bucket object count =  136000
s3.Bucket(name='ws-enduser') bucket object count =  137000
s3.Bucket(name='ws-enduser') bucket object count =  138000
s3.Bucket(name='ws-enduser') bucket object count =  139000
s3.Bucket(name='ws-enduser') bucket object count =  140000
s3.Bucket(name='ws-enduser') bucket object count =  141000

s3.Bucket(name='ws-enduser') bucket object count =  142000
s3.Bucket(name='ws-enduser') bucket object count =  143000
s3.Bucket(name='ws-enduser') bucket object count =  144000
s3.Bucket(name='ws-enduser') bucket object count =  145000
s3.Bucket(name='ws-enduser') bucket object count =  146000
s3.Bucket(name='ws-enduser') bucket object count =  147000
s3.Bucket(name='ws-enduser') bucket object count =  148000
s3.Bucket(name='ws-enduser') bucket object count =  149000
s3.Bucket(name='ws-enduser') bucket object count =  150000
s3.Bucket(name='ws-enduser') bucket object count =  151000
s3.Bucket(name='ws-enduser') bucket object count =  152000
s3.Bucket(name='ws-enduser') bucket object count =  153000
s3.Bucket(name='ws-enduser') bucket object count =  154000
s3.Bucket(name='ws-enduser') bucket object count =  155000
s3.Bucket(name='ws-enduser') bucket object count =  156000
s3.Bucket(name='ws-enduser') bucket object count =  157000
s3.Bucket(name='ws-enduser') bucket object count =  158000
s3.Bucket(name='ws-enduser') bucket object count =  159000
s3.Bucket(name='ws-enduser') bucket object count =  160000
s3.Bucket(name='ws-enduser') bucket object count =  161000
s3.Bucket(name='ws-enduser') bucket object count =  162000
s3.Bucket(name='ws-enduser') bucket object count =  163000
s3.Bucket(name='ws-enduser') bucket object count =  164000
s3.Bucket(name='ws-enduser') bucket object count =  165000
s3.Bucket(name='ws-enduser') bucket object count =  166000
s3.Bucket(name='ws-enduser') bucket object count =  167000
s3.Bucket(name='ws-enduser') bucket object count =  168000
s3.Bucket(name='ws-enduser') bucket object count =  169000
s3.Bucket(name='ws-enduser') bucket object count =  170000
s3.Bucket(name='ws-enduser') bucket object count =  171000
s3.Bucket(name='ws-enduser') bucket object count =  172000
s3.Bucket(name='ws-enduser') bucket object count =  173000
s3.Bucket(name='ws-enduser') bucket object count =  174000
s3.Bucket(name='ws-enduser') bucket object count =  175000
s3.Bucket(name='ws-enduser') bucket object count =  176000
s3.Bucket(name='ws-enduser') bucket object count =  177000
s3.Bucket(name='ws-enduser') bucket object count =  178000
s3.Bucket(name='ws-enduser') bucket object count =  179000
s3.Bucket(name='ws-enduser') bucket object count =  180000
s3.Bucket(name='ws-enduser') bucket object count =  181000
s3.Bucket(name='ws-enduser') bucket object count =  182000
s3.Bucket(name='ws-enduser') bucket object count =  183000
s3.Bucket(name='ws-enduser') bucket object count =  184000
s3.Bucket(name='ws-enduser') bucket object count =  185000
s3.Bucket(name='ws-enduser') bucket object count =  186000
s3.Bucket(name='ws-enduser') bucket object count =  187000
s3.Bucket(name='ws-enduser') bucket object count =  188000
s3.Bucket(name='ws-enduser') bucket object count =  189000
s3.Bucket(name='ws-enduser') bucket object count =  190000
s3.Bucket(name='ws-enduser') bucket object count =  191000
s3.Bucket(name='ws-enduser') bucket object count =  192000
s3.Bucket(name='ws-enduser') bucket object count =  193000
s3.Bucket(name='ws-enduser') bucket object count =  194000
s3.Bucket(name='ws-enduser') bucket object count =  195000
s3.Bucket(name='ws-enduser') bucket object count =  196000
s3.Bucket(name='ws-enduser') bucket object count =  197000
s3.Bucket(name='ws-enduser') bucket object count =  198000
s3.Bucket(name='ws-enduser') bucket object count =  199000
s3.Bucket(name='ws-enduser') bucket object count =  200000
s3.Bucket(name='ws-enduser') bucket object count =  201000
s3.Bucket(name='ws-enduser') bucket object count =  202000
s3.Bucket(name='ws-enduser') bucket object count =  203000
s3.Bucket(name='ws-enduser') bucket object count =  204000
s3.Bucket(name='ws-enduser') bucket object count =  205000
s3.Bucket(name='ws-enduser') bucket object count =  206000
s3.Bucket(name='ws-enduser') bucket object count =  207000
s3.Bucket(name='ws-enduser') bucket object count =  208000
s3.Bucket(name='ws-enduser') bucket object count =  209000
s3.Bucket(name='ws-enduser') bucket object count =  210000
s3.Bucket(name='ws-enduser') bucket object count =  211000
s3.Bucket(name='ws-enduser') bucket object count =  212000
s3.Bucket(name='ws-enduser') bucket object count =  213000
s3.Bucket(name='ws-enduser') bucket object count =  214000
s3.Bucket(name='ws-enduser') bucket object count =  215000
s3.Bucket(name='ws-enduser') bucket object count =  216000
s3.Bucket(name='ws-enduser') bucket object count =  217000
s3.Bucket(name='ws-enduser') bucket object count =  218000
s3.Bucket(name='ws-enduser') bucket object count =  219000
s3.Bucket(name='ws-enduser') bucket object count =  220000
s3.Bucket(name='ws-enduser') bucket object count =  221000
s3.Bucket(name='ws-enduser') bucket object count =  222000
COUNT= 222698
STANDARD 222698
STANDARD 22555223401168
STANDARD GBYTES= 21006.18872900307
STANDARD Cost/Month= 483.14234076707066
----------------------------------------------------------------------------------------------------
GLACIER 0
GLACIER 0
GLACIER GBYTES= 0.0
GLACIER Cost/Month= 0.0
----------------------------------------------------------------------------------------------------
INTELLIGENT_TIERING 0
INTELLIGENT_TIERING 0
INTELLIGENT_TIERING GBYTES= 0.0
INTELLIGENT_TIERING Cost/Month= 0.0
----------------------------------------------------------------------------------------------------
END LOOP
G: 21006.18872900307 483.14234076707066

In [7]:
objs[0]

{'bucket_name': 'ws-enduser',
 'key': 'CONUS/r37.0_tile0/1999/dd_199901.tif',
 'size': 6063364,
 'class': 'STANDARD'}

In [8]:
new_objs=[]
for o in objs:
    a = o['key'].split('/')
    project = a[0]
    tile = a[1]
    year = a[2]
    basenm = a[3]
    new_o = {
        'bucket_name': o['bucket_name'],
        'project': project,
        'tile': tile,
        'year': year,
        'basename': basenm,
        'size': o['size']
    }
    new_objs.append(new_o)

In [9]:
import pandas as pd

df = pd.DataFrame(new_objs)

In [10]:
df

       bucket_name project         tile  year        basename      size
0       ws-enduser   CONUS  r37.0_tile0  1999   dd_199901.tif   6063364
1       ws-enduser   CONUS  r37.0_tile0  1999   dd_199902.tif  10258280
2       ws-enduser   CONUS  r37.0_tile0  1999   dd_199903.tif   5193049
3       ws-enduser   CONUS  r37.0_tile0  1999   dd_199904.tif   7873466
4       ws-enduser   CONUS  r37.0_tile0  1999   dd_199905.tif   2429679
...            ...     ...          ...   ...             ...       ...
222693  ws-enduser   CONUS  r50.0_tile9  2020  srf_202008.tif   1295984
222694  ws-enduser   CONUS  r50.0_tile9  2020  srf_202009.tif   1108483
222695  ws-enduser   CONUS  r50.0_tile9  2020  srf_202010.tif  10106845
222696  ws-enduser   CONUS  r50.0_tile9  2020  srf_202011.tif  16757676
222697  ws-enduser   CONUS  r50.0_tile9  2020  srf_202012.tif  17263691

[222698 rows x 6 columns]

In [11]:
tiles = df['tile'].unique()

In [12]:
tiles

array(['r37.0_tile0', 'r37.0_tile1', 'r37.0_tile2', 'r37.0_tile3',
       'r50.0_tile5', 'r50.0_tile6', 'r50.0_tile7', 'r50.0_tile8',
       'r50.0_tile9'], dtype=object)

In [13]:
tdf = df[df['tile'] == tiles[0]]

In [14]:
tdf

      bucket_name project         tile  year         basename      size
0      ws-enduser   CONUS  r37.0_tile0  1999    dd_199901.tif   6063364
1      ws-enduser   CONUS  r37.0_tile0  1999    dd_199902.tif  10258280
2      ws-enduser   CONUS  r37.0_tile0  1999    dd_199903.tif   5193049
3      ws-enduser   CONUS  r37.0_tile0  1999    dd_199904.tif   7873466
4      ws-enduser   CONUS  r37.0_tile0  1999    dd_199905.tif   2429679
...           ...     ...          ...   ...              ...       ...
34760  ws-enduser   CONUS  r37.0_tile0  2020  srf_2020089.tif   1707382
34761  ws-enduser   CONUS  r37.0_tile0  2020   srf_202009.tif    839751
34762  ws-enduser   CONUS  r37.0_tile0  2020   srf_202010.tif    826999
34763  ws-enduser   CONUS  r37.0_tile0  2020   srf_202011.tif    842814
34764  ws-enduser   CONUS  r37.0_tile0  2020   srf_202012.tif    888443

[34765 rows x 6 columns]

In [15]:
tdf.describe()

               size
count  3.476500e+04
mean   5.233470e+07
std    3.151742e+07
min    8.269600e+05
25%    8.832906e+06
50%    7.388930e+07
75%    7.448758e+07
max    7.681894e+07

In [16]:
variables = ['etasw','srf', 'dd','netet', 'etc']

In [17]:
import re
def validate_monthly_data(tdf, tile):
    total_work_left = 0
    for variable in variables:
        for year in range(2000,2020+1):
            ytdf = tdf[tdf['year'] == str(year)]
            basenames = ytdf['basename'].to_list()
            #print(basenames)
            #print(ytdf)
            #for m in range(1,12+1):
            rematch=f'{variable}_{year}\d\d.tif'
            r = re.compile(rematch)
            my_monthly_list_by_var = [x for x in basenames if r.match(x)]
            my_len = len(my_monthly_list_by_var)
            if my_len < 12:
                total_work_left = total_work_left + 12 - my_len
                print(tile, variable, year, len(my_monthly_list_by_var))
    return total_work_left

In [18]:
for tile in tiles:
    tdf = df[df['tile'] == tile]
    total_work_left = validate_monthly_data(tdf, tile)
    print(tile, total_work_left)

r37.0_tile0 0
r37.0_tile1 0
r37.0_tile2 0
r37.0_tile3 0
r50.0_tile5 0
r50.0_tile6 0
r50.0_tile7 0
r50.0_tile8 0
r50.0_tile9 0

# last run 

- r50.0_tile6 258
- r50.0_tile7 55
- r37.0_tile2 1055
- r37.0_tile1 52